body {
  font-family: "tinos";
  background: #f5ede1;
}
section {
  margin: 0 auto;
  padding: 100px;
  max-width: 100%;
}
section.secondary-section {
  background: #b5c9b8;
}
.text-center {
  text-align: center;
}
main {
  background-color: #f5ede1;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #002147;
  line-height: 1.5;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #002147;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #002147;
  opacity: 0.7;
  line-height: 1.5;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/library.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fffff0;
  padding: 210px;
  max-width: 1200px;
  margin: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}
header h3 {
  font-weight: 900px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  background-color: #fffff0;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  color: #002147;
}
header a:hover {
  transform: scale(1.5);
  background-color: #f5ede1;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}
.button {
  display: block;
  background-color: #002147;
  color: #fffff0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  text-decoration: none;
}
.card {
  background: #f5ede1;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}
.card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #002147;
  margin: 0;
}
.card h5 {
  color: #002147;
  margin: 0;
}
.card-footer {
  padding: 0 30px 10px;
}

.img-responsive {
  max-width: 100%;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  color: #f3d6c1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/library.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #f3d6c1;
}

footer ul {
  padding: 0;
  margin: 10px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
  margin-right: 20px;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }

  section {
    padding: 30px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
